@import "tailwindcss";

@font-face {
  font-family: FaRegular;
  src: url('/assets/fonts/IRANSansX-Regular.woff2');
}
@font-face {
  font-family: FaBold;
  src: url('/assets/fonts/IRANSansX-ExtraBold.woff2');
}

body{
  overflow-x: hidden;
  font-family: FaRegular;
}

.fa-bold{
  font-family: FaBold;
}


